<%- include('../layouts/navbar.ejs') %>
    <%- include('../layouts/sidebar.ejs') %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Hod Edit</h1>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active">Hod Edit</li>
                            </ol>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="card-header">
                            <h3>Edit Hod</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <form action="/companyUpdate/<%= edit._id %>" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="">Company Name</label>
                                    <input type="text" name="name" value="<%= edit.name %>" class="form-control"
                                        required />
                                </div>
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input type="email" name="email" class="form-control" value="<%= edit.email %>"
                                        required />
                                </div>
                                <div class="form-group">
                                    <label for="">Phone</label>
                                    <input type="number" name="phone" class="form-control" value="<%= edit.phone %>"
                                        required />
                                </div>
                                <div class="form-group">
                                    <label for="">Address</label>
                                    <input type="text" name="address" value="<%= edit.address %>" class="form-control"
                                        required />
                                </div>
                                <button type="submit" class="btn btn-info">Update</button>
                            </form>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <%- include('../layouts/footer.ejs') %>